* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: $fnt_size;
	font-family: $fnt_main;
	font-weight: 300;
	overflow-x: hidden;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: $fnt_dark;
}
// BUTTONS

.btn {
	display: inline-block;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 0.9rem;
	padding: 0.8em 1.6em;
	font-weight: 600;
	letter-spacing: 1.4px;
	&.btn_green {
		background-color: $clr_green;
		color: $fnt_white;
	}
}

// CONTAINER

.container {
	width: 1756px;
	max-width: 1756px;
	min-width: 320px;
	margin: 0 auto;

	@media (max-width: 1756px) {
		width: calc(1756px * 0.9);
	}
	@media (max-width: 1581px) {
		width: calc(1581px * 0.9);
	}
	@media (max-width: 1423px) {
		width: calc(1423px * 0.9);
	}
	@media (max-width: 1281px) {
		width: calc(1281px * 0.9);
	}
	@media (max-width: 1153px) {
		width: calc(1153px * 0.9);
	}
	@media (max-width: 1038px) {
		width: calc(1038px * 0.9);
	}
	@media (max-width: 935px) {
		width: calc(935px * 0.9);
	}
	@media (max-width: 841px) {
		width: 100%;
	}
}

// SECTION

section {
	padding: 100px 0;
}

// PAGE HEADERS

header.page_header {
	margin-top: 60px;
	height: 18vw;
	min-height: 150px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		position: absolute;
		transform: scale(1.2);
		display: block;
		width: 100%;
		object-position: center;
		z-index: 0;
		top: 0;
		left: 0;
		transition: 0.4s all ease-in-out;
		opacity: 0.2;
	}
	h2 {
		position: relative;
		z-index: 1010;
		text-transform: uppercase;
		color: $fnt_white;
		@include fluid-type(500px, 1920px, 50px, 110px);
		opacity: 0;
		transition: 0.4s all ease-in-out;
		transition-delay: 0.3s;
	}
	&.show_header {
		img {
			transform: scale(1);
			opacity: 1;
		}
		h2 {
			opacity: 1;
		}
	}

	@media (max-width: 560px) {
		margin-top: 53px;
		background: black;
		img {
			opacity: 0.75;
		}
		h2 {
			font-size: 2.8rem;
		}
	}
}
