$fnt_main: "Montserrat", sans-serif;
$fnt_accents: "Roboto", sans-serif;
$fnt_size: 16px;
// COLORS

$clr_green: #166e39;
$clr_bg: #fafafa;
$clr_bg_drk: #ededed;
$clr_bg_lgt: #f8f8f8;
$white: #ffffff;
$fnt_dark: #000000;
$fnt_white: #ffffff;
// NAVBAR
$clr_navBar: #373737;

$border_clr: #c4c4c4;
